* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

.nav-var {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 40px 0;
}

.nav-brand {
  width: 100px;
  border-radius: 100px;
}

.titulo-navbar {
  padding-top: 20px;
}

h1 {
  text-align: center;
}

#confirmar-compra a {
  text-decoration: none;
  color: white;
}

footer {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.iconos {
  width: 50px;
  height: 50px;
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

footer h4 {
  margin-right: 20px;
  padding: 25px 15px 8px 0px;
}
/* -------------------------------------- MOVÍL RESPONSIVE 400px -------------------------------------- */
@media (max-width: 400px) {
  .titulo-navbar {
    display: none;
  }
  .nav-brand {
    width: 120px;
  }
}
